/* contacto */
.botonNavContacto {
    background-color: #030346;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-shadow: inset 0px 0px 5px #04045c;
    -moz-box-shadow: inset 0px 0px 5px #04045c;
    box-shadow: inset 0px 0px 5px #04045c;
    outline: none;
}

.colorTextoContacto {
    color: $colorTextoAll;
}

/* contacto fin */