/* footer */

.footerContainer {
    font-size: 20px;
    display: flex;
    
    justify-content: space-between;
    background-color: #121111;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    height: fit-content;
}
/* boton subir*/
.subir {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    border-color: #F762A7;
    border-style: solid;
    text-decoration: none;
    z-index: 100;
    background-color: #121111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.fa-arrow-up{
    padding-top: 15px;
}

.subir{
    a {
    color: #F762A7;
    }
}

.footerContainer{
    .facebook {
    text-decoration: none;
    color: #3b5998;
    text-shadow: 1px 2px 2px black;
    }
}

.footerContainer{
    .insta{
    text-decoration: none;
    color: rgb(12, 197, 225);
    text-shadow: 1px 2px 2px black;
    }
}

.footerContainer{
    .fa-whatsapp {
    color: rgb(18, 140, 126);
    text-shadow: 1px 2px 2px black;
    text-decoration: none;
    }
}

/* animaciones footer */

.fa-instagram:hover {
    transform: scale(125%);
}

.fa-whatsapp:hover {
    transform: scale(125%);
}

.fa-facebook:hover {
    transform: scale(125%);
}

.subir:hover {
    transform: scale(125%);
}
.separadorFooter{
    height: 10px;
}
.derechos{
    background-color: #bdbaba;
}
.textoFooter2{
    color: #8f8f8f;
    font-weight: 0;
    font-size: 15px;
    

}
.lista{
    color: #8f8f8f;
}
.fa-phone, .fa-mobile{
    color: #F762A7;
}
.lista {
        a{
        color: #8f8f8f;
        font-size: 15px;
    }
}
.colorTextoIndex2{
    text-align: start;
}


.paddingFooter{
    padding-right: 65px;
}
/* fin footer */