/* navbar */
.navbar {
    background-color: #121111;
    color: #F762A7;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")
}

.navbar{
    a{
    color: #F762A7;
    }
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,98,167, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* animaciones nav */
.botonNav:hover {
    background-color: #F762A7;
    color:#121111;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    transform: scale(125%);
}
.botonNav:hover{
    a:hover{
    color:#121111;
    text-shadow: 1px 1px #cf4b88;
    }
}
.botonNav:active {
    -webkit-box-shadow: inset 0px 0px 5px #121111;
    -moz-box-shadow: inset 0px 0px 5px #121111;
    box-shadow: inset 0px 0px 5px #121111;
    outline: none;
}

.cart {
    font-size: 30px;
}

.cart:hover {
    transform: scale(125%);
}

/* fin animaciones nav */

/* poner elemntos en el nav bar en linea */
.nabvarContainer1{
    ul{
    display: flex;
    flex-direction: row;
    }
}

.separar {
    padding: 15px;
}

.separarNav{
    background-color: #F762A7;
    height: 1px;
}
/* navbar fin */
