/* index ini */

.botonNavIndex {
    background-color: #F762A7;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-shadow: inset 0px 0px 5px #cf4b88;
    -moz-box-shadow: inset 0px 0px 5px #cf4b88;
    box-shadow: inset 0px 0px 5px #cf4b88;
    outline: none;
}
.botonNavIndex{
    a{
    color: #121111;
    text-shadow: 1px 1px #cf4b88;
    }
}

.espacioHeaderJumbo {
    height: 10px;

}
/* logo y boton */
.jumbotronIndex {
    background-color: #121111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    height: 100%;
    border-radius: 0px;
}
/* ajuste imagen logo */
@media (max-width:992px) {
        .displayLogo{
            display: none;
        }
}
/* banner1 */
.bannerIndex{
    height: 325px;
}
.imgBanner{
    height: 350px;
    width: 100%;
}
/* achicar el banner en mobile */
@media (max-width:700px) {
    .bannerIndex{
        height: 150px;
    }
    .imgBanner {
        height: 150px;
    }

}
/* banner2 */
.bannerIndex2{
    width: 100%;
    height: 150px;
}
/* achicar el banner2*/
@media (max-width:768px) {
    .bannerIndex2{
        height: 100px;
    }
}
@media (max-width:576px) {
    .bannerIndex2{
        height: 80px;
    }
}
@media (max-width:450px) {
    .bannerIndex2{
        height: 60px;
    }
}

.paddingSeccion{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.fondoIndex{
    background-color: #121111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    height: 100%;
}
.cardSize{
    width: 100%;
    height: 100%;
}

.separadorIndex2{
    height: 100px;
}
/* sacar una carta para que entre en pantalla todo al achicar */
@media  (min-width:0px) and (max-width:992px) {
    .cartaMedio{
        display: none;
    }
}
.colorTextoIndex2{
    @include colorYSombra($colorTextoAll,1px 1px #cf4b88);
    
}
.imagenIndex2{
    height: 100%;
    width: 100%;
}
.imagenCardIndex{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.fondoIndex2{
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* separador */
.espacioEntreContainers {
    height: 150px;
}


/* ajuste tamaño imagen */
.imagenIndex {
    width: 100%;
    max-width: 100%;
}

.separadorIndex{
    height: 20px;
}

.logoSize{
    width: 100%;
    height: 100%;
}
.botonIndex{
    background-color: #F762A7;
    border: none;
}
.botonIndex:hover{
    background-color: #cf4b88;
}

.colorTextoIndex{
    @include colorYSombra($colorTextoAll,1px 1px #cf4b88);
}
.sizeTitle{
    font-size: 60px;
}
.separadorIndex3{
    height: 50px;
}
/* index fin */