/* index ini */

.botonNavIndex {
    background-color: #F762A7;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-shadow: inset 0px 0px 5px #cf4b88;
    -moz-box-shadow: inset 0px 0px 5px #cf4b88;
    box-shadow: inset 0px 0px 5px #cf4b88;
    outline: none;
}
.botonNavIndex{
    a{
    color: #121111;
    text-shadow: 1px 1px #cf4b88;
    }
}

.espacioHeaderJumbo {
    height: 10px;

}
/* logo y boton */
.jumbotronIndex {
    background-color: #121111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    height: 100%;
    border-radius: 0px;
}
/* ajuste imagen logo */
@media (max-width:576px) {
        .displayLogo{
            display: none !important;
        }
}
.botoneraIndex{
    height: 100%;
    background-color: #F762A7;
}
.bordeBotones{
    background-color: #c01565;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    box-shadow: 0 9px #333030;
    border: none;
    border-radius: 15px;
    outline: none;
}

.bordeBotones:hover {
    background-color: #cf4b88;
}
.bordeBotones:active{
    background-color: #cf4b88;
    transform: translateY(4px);
    box-shadow: 0 6px #333030;
}
.sizeImgBotones{
    height: 200px;
    width: 100%;
}
@media  (min-width:650px) and (max-width:768px) {
    .displayBotones{
        left: 30px;
    }
}
@media  (min-width:576px) and (max-width:650px) {
    .displayBotones{
        left: 20px;
    }
}
@media  (min-width:768px) and (max-width:992px) {
    .displayBotones{
        left: 45px;
    }
}


.fondoIndex{
    background-color: #121111;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    height: 100%;
}
.cardSize{
    width: 100%;
    height: 100%;
}

.separadorIndex2{
    height: 100px;
}
/* sacar una carta para que entre en pantalla todo al achicar */
@media  (min-width:0px) and (max-width:992px) {
    .cartaMedio{
        display: none;
    }
}
.colorTextoIndex2{
    @include colorYSombra(aliceblue,1px 1px #121111);
    
}
.imagenIndex2{
    height: 100%;
    width: 100%;
}
.imagenCardIndex{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.fondoIndex2{
    background-image: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* separador */
.espacioEntreContainers {
    height: 150px;
}


/* ajuste tamaño imagen */
.imagenIndex {
    width: 100%;
    max-width: 100%;
}

.separadorIndex{
    height: 20px;
}

.logoSize{
    width: 100%;
    height: 100%;
}

.botonIndex {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
}
.radiusIndex{
    border-radius: 0px;
}
.botonIndex::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
        #488cfb,
        #29dbbc,
        #ddf505,
        #ff9f0e,
        #e440bb,
        #655adc,
        #488cfb
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}
.botonIndex:hover{
    color: #fff;
    text-decoration: none;
}
.botonIndex:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
    filter: hue-rotate(1turn);
    }
}

.botonIndex,
.botonIndex::after {
    box-sizing: border-box;
}

.botonIndex:active {
    --border-width: 5px;
}
.colorTextoIndex{
    @include colorYSombra($colorTextoAll,1px 1px #cf4b88);
}

.sizeTitle{
    font-size: 80px;
}
@media (max-width:660px) {
    .sizeTitle{
        font-size: 50px;
    }
}
@media (max-width:412px) {
    .sizeTitle{
        font-size: 40px;
    }
}

.separadorIndex3{
    height: 50px;
}
.separadorIndex4{
    height: 25px;
}

/* carousel */
.carouselIndex {
	margin: 50px auto;
	padding: 0 70px;
}
.carouselIndex .carousel-item {
    min-height: 330px;
	text-align: center;
	overflow: hidden;
}
.carouselIndex .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
    
}
.carouselIndex .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carouselIndex .carousel-item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carouselIndex .carousel-item .btn {
	color: #333;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.carouselIndex .carousel-item .btn:hover, .carouselIndex .carousel-item .btn:focus {
	color: #fff;
	background: #F762A7;
	border-color: #000;
	box-shadow: none;
    
}
.carouselIndex .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carouselIndex .contenedorCard {
	text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    height: 360px;
}
.carouselIndex .paddingCard {
	padding: 10px;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carouselIndex .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carouselIndex .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carouselIndex .item-price span {
	color: #86bd57;
	font-size: 110%;
}	
.carouselIndex .carousel-indicators {
	bottom: -50px;

}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators li {	
	background: aliceblue;
}
.carousel-indicators li.active {	
	background: aliceblue;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
.ulCards {
    list-style-type: none;
}

@media (max-width:776px) {
    .displayCardIndex{
        display: none;
    }
}
@media (max-width:576px) {
    .displayCardIndex2{
        display: none;
    }
}

@media (max-width:576px) {
    .displayImgIndex{
        display: none;
    }
}

.botonIndex2{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.botonIndex2 {
    width: 12rem;
    height: auto;
}

.botonIndex2 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #F762A7;
    border-radius: 1.625rem;
}

.botonIndex2 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.botonIndex2 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.botonIndex2 .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.botonIndex2 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #cf4b88;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.botonIndex2:hover .circle {
    width: 100%;
}

.botonIndex2:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.botonIndex2:hover .button-text {
    color: aliceblue;
}

@media (max-width:992px) {
    .displayBotones3{
        display: none;
    }
}
@media (width:992px) {
    .displayBotones3{
        display: initial;
    }
}