@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.fondo {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Aplico mixin para color texto todas las paginas */
/* imports */
/* navbar */
.navbar {
  background-color: #121111;
  color: #F762A7;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@media (max-width: 450px) {
  .sizeNav {
    font-size: 14px;
  }
}
.navbar a {
  color: #F762A7;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,98,167, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* animaciones nav */
.botonNav:hover {
  background-color: #F762A7;
  color: #121111;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  transform: scale(125%);
}

.botonNav:hover a:hover {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.botonNav:active {
  box-shadow: inset 0px 0px 5px #121111;
  outline: none;
}

.cart {
  font-size: 30px;
  padding: 5px;
}

.cart:hover {
  transform: scale(125%);
}

.search {
  font-size: 30px;
  padding: 5px;
}

.search:hover {
  transform: scale(125%);
}

/* fin animaciones nav */
/* poner elemntos en el nav bar en linea */
.nabvarContainer1 ul {
  display: flex;
  flex-direction: row;
}

.separar {
  padding: 15px;
}

.separarNav {
  background-color: #F762A7;
  height: 1px;
}

/* navbar fin */
/* footer */
.footerContainer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* boton subir*/
.subir {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 25px;
  border-color: #F762A7;
  border-style: solid;
  text-decoration: none;
  z-index: 100;
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.fa-arrow-up {
  padding-top: 15px;
}

.subir a {
  color: #F762A7;
}

.footerContainer .facebook {
  text-decoration: none;
  color: #3b5998;
  text-shadow: 1px 2px 2px black;
}

.footerContainer .insta {
  text-decoration: none;
  color: rgb(12, 197, 225);
  text-shadow: 1px 2px 2px black;
}

.footerContainer .fa-whatsapp {
  color: rgb(18, 140, 126);
  text-shadow: 1px 2px 2px black;
  text-decoration: none;
}

/* animaciones footer */
.fa-instagram:hover {
  transform: scale(125%);
}

.fa-whatsapp:hover {
  transform: scale(125%);
}

.fa-facebook:hover {
  transform: scale(125%);
}

.subir:hover {
  transform: scale(125%);
}

.separadorFooter {
  height: 10px;
}

.derechos {
  background-color: #bdbaba;
}

.textoFooter2 {
  color: #8f8f8f;
  font-weight: 0;
  font-size: 15px;
}

.lista {
  color: #8f8f8f;
}

.fa-phone, .fa-mobile {
  color: #F762A7;
}

.lista a {
  color: #8f8f8f;
  font-size: 15px;
}

.colorTextoIndex2 {
  text-align: start;
}

.paddingFooter {
  padding-right: 65px;
}

/* fin footer */
/* index ini */
.botonNavIndex {
  background-color: #F762A7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0px 0px 5px #cf4b88;
  outline: none;
}

.botonNavIndex a {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.espacioHeaderJumbo {
  height: 10px;
}

/* logo y boton */
.jumbotronIndex {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 100%;
  border-radius: 0px;
}

/* ajuste imagen logo */
@media (max-width: 576px) {
  .displayLogo {
    display: none !important;
  }
}
.botoneraIndex {
  height: 100%;
  background-color: #F762A7;
}

.bordeBotones {
  background-color: #c01565;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  box-shadow: 0 9px #333030;
  border: none;
  border-radius: 15px;
  outline: none;
}

.bordeBotones:hover {
  background-color: #cf4b88;
}

.bordeBotones:active {
  background-color: #cf4b88;
  transform: translateY(4px);
  box-shadow: 0 6px #333030;
}

.sizeImgBotones {
  height: 200px;
  width: 100%;
}

@media (min-width: 650px) and (max-width: 768px) {
  .displayBotones {
    left: 30px;
  }
}
@media (min-width: 576px) and (max-width: 650px) {
  .displayBotones {
    left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .displayBotones {
    left: 45px;
  }
}
.fondoIndex {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 100%;
}

.cardSize {
  width: 100%;
  height: 100%;
}

.separadorIndex2 {
  height: 100px;
}

/* sacar una carta para que entre en pantalla todo al achicar */
@media (min-width: 0px) and (max-width: 992px) {
  .cartaMedio {
    display: none;
  }
}
.colorTextoIndex2 {
  color: aliceblue;
  text-shadow: 1px 1px #121111;
}

.imagenIndex2 {
  height: 100%;
  width: 100%;
}

.imagenCardIndex {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.fondoIndex2 {
  background-image: url(/img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* separador */
.espacioEntreContainers {
  height: 150px;
}

/* ajuste tamaño imagen */
.imagenIndex {
  width: 100%;
  max-width: 100%;
}

.separadorIndex {
  height: 20px;
}

.logoSize {
  width: 100%;
  height: 100%;
}

.botonIndex {
  --border-radius: 15px;
  --border-width: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.radiusIndex {
  border-radius: 0px;
}

.botonIndex::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(#488cfb, #29dbbc, #ddf505, #ff9f0e, #e440bb, #655adc, #488cfb);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  -webkit-animation: rotate-hue linear 500ms infinite;
          animation: rotate-hue linear 500ms infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.botonIndex:hover {
  color: #fff;
  text-decoration: none;
}

.botonIndex:hover::after {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}
.botonIndex,
.botonIndex::after {
  box-sizing: border-box;
}

.botonIndex:active {
  --border-width: 5px;
}

.colorTextoIndex {
  color: #F762A7;
  text-shadow: 1px 1px #cf4b88;
}

.sizeTitle {
  font-size: 80px;
}

@media (max-width: 660px) {
  .sizeTitle {
    font-size: 50px;
  }
}
@media (max-width: 412px) {
  .sizeTitle {
    font-size: 40px;
  }
}
.separadorIndex3 {
  height: 50px;
}

.separadorIndex4 {
  height: 25px;
}

/* carousel */
.carouselIndex {
  margin: 50px auto;
  padding: 0 70px;
}

.carouselIndex .carousel-item {
  min-height: 330px;
  text-align: center;
  overflow: hidden;
}

.carouselIndex .carousel-item .img-box {
  height: 160px;
  width: 100%;
  position: relative;
}

.carouselIndex .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.carouselIndex .carousel-item h4 {
  font-size: 18px;
  margin: 10px 0;
}

.carouselIndex .carousel-item .btn {
  color: #333;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 5px;
  line-height: 16px;
}

.carouselIndex .carousel-item .btn:hover, .carouselIndex .carousel-item .btn:focus {
  color: #fff;
  background: #F762A7;
  border-color: #000;
  box-shadow: none;
}

.carouselIndex .carousel-item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.carouselIndex .contenedorCard {
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
  height: 360px;
}

.carouselIndex .paddingCard {
  padding: 10px;
}

.carousel-control-prev, .carousel-control-next {
  height: 100px;
  width: 40px;
  background: none;
  margin: auto 0;
  background: rgba(0, 0, 0, 0.2);
}

.carousel-control-prev i, .carousel-control-next i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -16px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: bold;
}

.carousel-control-prev i {
  margin-left: -3px;
}

.carousel-control-next i {
  margin-right: -3px;
}

.carouselIndex .item-price {
  font-size: 13px;
  padding: 2px 0;
}

.carouselIndex .item-price strike {
  color: #999;
  margin-right: 5px;
}

.carouselIndex .item-price span {
  color: #86bd57;
  font-size: 110%;
}

.carouselIndex .carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
  border-color: transparent;
  border: none;
}

.carousel-indicators li {
  background: aliceblue;
}

.carousel-indicators li.active {
  background: aliceblue;
}

.star-rating li {
  padding: 0;
}

.star-rating i {
  font-size: 14px;
  color: #ffc000;
}

.ulCards {
  list-style-type: none;
}

@media (max-width: 776px) {
  .displayCardIndex {
    display: none;
  }
}
@media (max-width: 576px) {
  .displayCardIndex2 {
    display: none;
  }
}
@media (max-width: 576px) {
  .displayImgIndex {
    display: none;
  }
}
.botonIndex2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.botonIndex2 {
  width: 12rem;
  height: auto;
}

.botonIndex2 .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #F762A7;
  border-radius: 1.625rem;
}

.botonIndex2 .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.botonIndex2 .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.botonIndex2 .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.botonIndex2 .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #cf4b88;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.botonIndex2:hover .circle {
  width: 100%;
}

.botonIndex2:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.botonIndex2:hover .button-text {
  color: aliceblue;
}

@media (max-width: 992px) {
  .displayBotones3 {
    display: none;
  }
}
@media (width: 992px) {
  .displayBotones3 {
    display: initial;
  }
}
/* articulos */
/* inicio nav */
/* para que quede apretado boton nav*/
.botonNavArticulos {
  background-color: #F762A7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0px 0px 5px #cf4b88;
  outline: none;
}

.botonNavArticulos a {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.carrito {
  font-size: 20px;
}

.fondoBotonArticulos {
  background-color: #F762A7;
  border: 1px #cf4b88 solid;
  box-shadow: 0px 0px 5px black;
}

.fondoBotonArticulos:hover {
  background-color: #cf4b88;
  border: 1px black solid;
}

.fondoBotonArticulos:active {
  background-color: #cf4b88;
  box-shadow: 0px 0px 5px #cf4b88;
}

/* fin nav */
/* separador*/
.separarLasFilas {
  height: 100px;
}

/* imagen banner*/
/* banner1 */
.bannerArt {
  height: 325px;
}

.imgBanner {
  height: 300px;
  width: 100%;
}

/* achicar el banner en mobile */
@media (max-width: 700px) {
  .bannerArt {
    height: 150px;
  }

  .imgBanner {
    height: 150px;
  }
}
/* achicar el banner en mobile */
@media (max-width: 500px) {
  .imagenArt {
    height: 250px;
  }
}
.serchbar {
  height: 50px;
}

/* cambiar color boton prev y next  */
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

/* ajuste tamaño imagenes cards */
.imagen1 {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.contenedorCardArt {
  border-radius: 10px;
}

/* ajuste tamaño imagenes pagos */
.imagenArticulos {
  width: 100%;
  max-width: 100%;
}

.fondoCardArt {
  background-color: aliceblue;
}

.fondoArticulos {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.colorTextoArticulos {
  color: #F762A7;
  text-shadow: 1px 1px #cf4b88;
}

.colorEstrellas {
  color: gold;
}

.botonArticulos {
  background-color: #F762A7;
  color: aliceblue;
}

.botonArticulos:hover {
  opacity: 80%;
  color: aliceblue;
}

/* articulos fin */
/* contacto */
/* incio nav*/
.botonNavContacto {
  background-color: #F762A7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0px 0px 5px #cf4b88;
  outline: none;
}

.botonNavContacto a {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

/* fin nav*/
.colorTextoContacto {
  color: #F762A7;
  text-shadow: 1px 1px #cf4b88;
}

.colorTextoContacto2 {
  color: aliceblue;
  text-shadow: 1px 1px #cf4b88;
}

/* Aplico extend */
.fondoContacto, .fondoContacto--distinto {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.fondoContacto--distinto {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Aplico mapa */
.--img1 {
  background-image: url(../img/avatarm2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
  background-color: aliceblue;
}

.--img2 {
  background-image: url(../img/avatarf2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
  background-color: aliceblue;
}

.--img3 {
  background-image: url(../img/avatarm2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
  background-color: aliceblue;
}

.separador {
  height: 25px;
}

.fondoContacto2 {
  background-color: #cf4b88;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* contacto fin */
.colorTextoSobre {
  color: #F762A7;
}

/* ajuste tamaño video */
.secvid--video {
  width: 100%;
  height: 500px;
}

.mapa {
  width: 100%;
  max-width: 100%;
}

.botonNavSobre {
  background-color: #F762A7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0px 0px 5px #cf4b88;
  outline: none;
}

.botonNavSobre a {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.redes {
  text-decoration: none;
  font-size: 100px;
}

.wap {
  color: #128c7e;
}

.fb {
  color: #1877f2;
}

.tw {
  color: #1da1f2;
}

.insta {
  color: #833ab4;
}

.redes:hover {
  transform: scale(100%);
  opacity: 70%;
}

@media (min-width: 576px) and (max-width: 768px) {
  .displayBotones2 {
    left: 12px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .displayBotones2 {
    left: 30px;
  }
}
@media (width: 992px) {
  .displayBotones2 {
    left: 0px;
  }
}
.separadorCart {
  height: 50px;
}

/* ajuste imagen*/
.imgCarrito {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

/* fondo para parte1 carrito*/
.fondoCarrito {
  background-color: aliceblue;
  border-radius: 10px;
}

.paddingCart {
  padding: 40px;
}

.fondoCarritoTitulo {
  color: #F762A7;
  text-shadow: 1px 1px #cf4b88;
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* fondo para parte2 carrito*/
.fondoCarrito2 {
  background-color: rgb(150, 151, 154);
  border-radius: 10px;
}

.paddingCart2 {
  padding-top: 15px;
}

.paddingCartTitulo {
  padding: 20px;
}

/* cambio para vista mobile*/
@media (max-width: 576px) {
  .displayCart {
    display: flex;
    flex-direction: column;
    text-align: center !important;
    padding: 10px;
  }

  .imgCarrito {
    height: 150px;
    width: 150px;
    padding: 10px;
  }
}/*# sourceMappingURL=styles.css.map */