@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.fondo {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Aplico mixin para color texto todas las paginas */
/* navbar */
.navbar {
  background-color: #121111;
  color: #F762A7;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.navbar a {
  color: #F762A7;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,98,167, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* animaciones nav */
.botonNav:hover {
  background-color: #F762A7;
  color: #121111;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  transform: scale(125%);
}

.botonNav:hover a:hover {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.botonNav:active {
  -webkit-box-shadow: inset 0px 0px 5px #121111;
  -moz-box-shadow: inset 0px 0px 5px #121111;
  box-shadow: inset 0px 0px 5px #121111;
  outline: none;
}

.cart {
  font-size: 30px;
  padding: 5px;
}

.cart:hover {
  transform: scale(125%);
}

.search {
  font-size: 30px;
  padding: 5px;
}

.search:hover {
  transform: scale(125%);
}

/* fin animaciones nav */
/* poner elemntos en el nav bar en linea */
.nabvarContainer1 ul {
  display: flex;
  flex-direction: row;
}

.separar {
  padding: 15px;
}

.separarNav {
  background-color: #F762A7;
  height: 1px;
}

/* navbar fin */
/* footer */
.footerContainer {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  height: 125px;
}

.subir {
  flex-direction: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  margin-right: 10px;
  border-color: #F762A7;
  border-style: solid;
  text-decoration: none;
}

.footerContainer .subir {
  color: #F762A7;
}

.footerContainer .facebook {
  text-decoration: none;
  color: #3b5998;
  text-shadow: 1px 2px 2px black;
}

.footerContainer .insta {
  text-decoration: none;
  color: rgb(12, 197, 225);
  text-shadow: 1px 2px 2px black;
}

.footerContainer .fa-whatsapp {
  color: rgb(18, 140, 126);
  text-shadow: 1px 2px 2px black;
  text-decoration: none;
}

/* animaciones footer */
.fa-instagram:hover {
  transform: scale(125%);
}

.fa-whatsapp:hover {
  transform: scale(125%);
}

.fa-facebook:hover {
  transform: scale(125%);
}

.subir:hover {
  transform: scale(125%);
}

/* fin footer */
/* index ini */
.botonNavIndex {
  background-color: #F762A7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: inset 0px 0px 5px #cf4b88;
  -moz-box-shadow: inset 0px 0px 5px #cf4b88;
  box-shadow: inset 0px 0px 5px #cf4b88;
  outline: none;
}

.botonNavIndex a {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.espacioHeaderJumbo {
  height: 10px;
}

.jumbotronIndex {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 100%;
  border-radius: 0px;
}

.bannerIndex {
  height: 350px;
}

.imgBanner {
  height: 350px;
  width: 100%;
}

/* achicar el banner en mobile */
@media (max-width: 600px) {
  .bannerIndex {
    height: 150px;
  }

  .imgBanner {
    height: 150px;
  }
}
.tituloPrincipal {
  letter-spacing: 2px;
  font-weight: bold;
}

.fondoIndex {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  height: 100%;
}

.cardSize {
  height: auto;
}

/* separador */
.separacionJumbo {
  color: black;
}

/* ajuste tamaño imagen card */
.card-img-top {
  height: 300px;
  width: 100%;
}

/* ajuste tamaño video */
.secvid--video {
  width: 100%;
  height: 450px;
}

/* separador */
.espacioEntreContainers {
  height: 150px;
}

.mapa {
  width: 100%;
  max-width: 100%;
}

/* ajuste tamaño imagen */
.imagenIndex {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .cambioImgMd {
    height: 225px;
  }

  .cambioImgMd2 {
    height: 100px;
  }

  .imagenIndex {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .cambioImgSm {
    height: 200px;
  }

  .cambioImgSm2 {
    height: 450px;
  }

  .imagenIndex {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
@media (max-width: 556px) {
  .cambioImgSm {
    height: 125px;
  }

  .cambioImgSm2 {
    height: 250px;
  }

  .imagenIndex {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
}
.separadorIndex {
  height: 20px;
}

.logoSize {
  width: 100%;
  height: 100%;
}

.botonIndex {
  background-color: #F762A7;
  border: none;
}

.botonIndex:hover {
  background-color: #cf4b88;
}

.colorTextoIndex {
  color: #F762A7;
  text-shadow: 1px 1px #cf4b88;
}

/* index fin */
/* articulos */
.botonNavArticulos {
  background-color: #F762A7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: inset 0px 0px 5px #cf4b88;
  -moz-box-shadow: inset 0px 0px 5px #cf4b88;
  box-shadow: inset 0px 0px 5px #cf4b88;
  outline: none;
}

.botonNavArticulos a {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.separarLasFilas {
  height: 100px;
}

.imagenArt {
  width: 100%;
  height: 450px;
}

/* achicar el banner en mobile */
@media (max-width: 500px) {
  .imagenArt {
    height: 250px;
  }
}
.serchbar {
  height: 50px;
}

.paginacion {
  display: flex;
  align-content: center;
}

/* cambiar color boton prev y next  */
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

/* ajuste tamaño imagenes */
.imagen1 {
  width: 100%;
  max-width: 100%;
  height: 300px;
}

.carrito {
  font-size: 20px;
}

.imagenArticulos {
  width: 100%;
  max-width: 100%;
}

.fondoArticulos {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.colorTextoArticulos {
  color: #F762A7;
  text-shadow: 1px 1px #cf4b88;
}

.fondoBotonArticulos {
  background-color: #F762A7;
  border: 1px #cf4b88 solid;
  -webkit-box-shadow: 0px 0px 5px black;
  -moz-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
}

.fondoBotonArticulos:hover {
  background-color: #cf4b88;
  border: 1px black solid;
}

.fondoBotonArticulos:active {
  background-color: #cf4b88;
  -webkit-box-shadow: 0px 0px 5px #cf4b88;
  -moz-box-shadow: 0px 0px 5px #cf4b88;
  box-shadow: 0px 0px 5px #cf4b88;
}

/* articulos fin */
/* contacto */
.botonNavContacto {
  background-color: #F762A7;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: inset 0px 0px 5px #cf4b88;
  -moz-box-shadow: inset 0px 0px 5px #cf4b88;
  box-shadow: inset 0px 0px 5px #cf4b88;
  outline: none;
}

.botonNavContacto a {
  color: #121111;
  text-shadow: 1px 1px #cf4b88;
}

.colorTextoContacto {
  color: #F762A7;
  text-shadow: 1px 1px #cf4b88;
}

/* Aplico extend */
.fondoContacto, .fondoContacto--distinto {
  background-color: #121111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.fondoContacto--distinto {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Aplico mapa */
.--img1 {
  background-image: url(../img/zapatillas.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
}

.--img2 {
  background-image: url(../img/pelotaf.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
}

.--img3 {
  background-image: url(../img/basket.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
}

.separador {
  height: 25px;
}

/* contacto fin */

/*# sourceMappingURL=styles.css.map */
